version: "3.9"

services:
  web:
    build: ./gui
    ports:
      - "8080:5000"
    depends_on:
      - ai
  ai:
    build: .
    volumes:
        - ./data:/app/data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]