<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Kép osztályozás</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body { font-family: Arial, sans-serif; margin: 50px; text-align: center; }
        input[type="file"] { margin: 20px 0; }
        .result { margin-top: 20px; font-size: 1.2em; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Kép osztályozó</h1>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <br>
            <button type="submit">Küldés</button>
        </form>
		{% if message %}
		<p style="color: orange;">{{ message }}</p>
		{% endif %}
        {% if result %}
        <div class="result">
            <p><strong>Eredmény:</strong> {{ result }}</p>
            <p><strong>Biztonság:</strong> {{ confidence | round(2) * 100 }}%</p>
        </div>
        {% endif %}



    </div>
</body>

</html>
